<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AngularJS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
        <script src="/main.js"></script>
        <link href="main.css" rel="stylesheet" />
    </head>
<body ng-app = "CarController" ng-controller = "CarController">
<ul>
    <li>
        <form ng-submit="submitGame()" id = "adding">
            <input type = "text" name = "name" value="Название">
            <input type = "text" name = "studioName" value="Студия">
            <input type = "text" name = "cost" value ="Стоимость">
            <button ng-click = "appendCar()" name = "button" value = "add">Добавить</button>
        </form>
    </li>

    <br/>
    <li ng-repeat = "car in cars">
        <form id={{car.id}}>
            <input type = "text" name="name" value  = {{car.name}}>
            <input type = "text" name="brand" value  = {{car.brand}}>
            <input type = "text" name="cost" value={{car.cost}}>
            <input type = "hidden" name="id" value  = {{car.id}}>
            <button ng-click="deleteCat(car)">Удалить</button>
            <button ng-click="editCar(car)">Изменить</button>
        </form>


    </li>
</ul>
</body>
</html>
